html {
  background-color: #050505;
  color: #cccccc;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'JetBrains Mono', monospace;
}

p {
  font-size: 14px;
  margin-bottom: auto;
  margin-top: auto;
  cursor: default;
}

a {
  color: #4283bb;
}

a:visited {
  color: #4283bb;
}

a:hover {
  color: #35658d;
}

::-moz-selection {
  background: #373c46;
  text-shadow: none;
}

::selection {
  background: #373c46;
  text-shadow: none;
}
